@page
@model IndexModel
@{
    ViewData["Title"] = "Recept";
}

  <section id="items">
    <div class="container">
      <div class="row">
        @foreach(var recipe in Model.Book.Recipes)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                <div class="recipe-item text-center">
                    <a href="/recipe/@recipe.Name"><h3>@recipe.Name</h3></a>
                </div>
            </div>
        }
    </div>
  </section>