@page "/{tag?}"
@model IndexModel
@{
    ViewData["Title"] = "Recept";
}

@section nav {
    <nav class="navbar navbar-expand-lg" style="padding-top: 12px">
        <ul class="navbar-nav mr-auto" style="z-index:10000">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: #f9f9f9; font-size: 25px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @(Model.CurrentTagName ?? "Kategori")
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/">Visa alla</a>
                    @foreach (var t in Model.Book.Tags)
                    {
                        <a class="dropdown-item" href="/@t">@t</a>
                    }
                </div>
            </li>
        </ul>
        <!-- TODO: Search
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 recipe-search-input" type="search" placeholder="Filter">
        </form>
        -->
    </nav>
}

<section id="items">
    <div class="container">
        <div class="row">
            @foreach(var recipe in Model.VisibleRecipes)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                    <div class="recipe-item text-center">
                        <a href="/recipe/@recipe.Name"><h3>@recipe.Name</h3></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>